<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="racing">
    <xacro:include filename="generic.xacro" />
    <xacro:quadrotor_generic ARM_X='0.106' ARM_Y='0.106' ARM_Z='0.00' MASS='0.8' IXX='0.001' IYY='0.001' IZZ='0.0017' base_color='1.0 0.0 0.0 1.0' prop_color= '0.2 0.0 0.6 0.0'/>
</robot>